/*Google fonts import*/
<style>@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap');
</style>

/*Asterisk wildcard selector to override deafult styles by the browser*/
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/*General Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #3a3a3a;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(57, 7, 78);
    text-align: center;
}

/*Header*/
header {
    background-color: rgb(37, 209, 109);
    padding: 2 2em;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;

}

#menu>li {
    margin-bottom: 1em;
}


.active {
    border-bottom: 1px solid #3a3a3a;
}

nav {
    position: absolute;
    background-color: rgb(37, 209, 109);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding-right: 1rem;
}


/*Main content*/
main {
    background-color: rgb(112, 207, 207);
    /*Make main element take up surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 120px;
}

/*Welcome photo section*/
#welcome {
    height: 600px;
    width: 100%;
    background: url("../Images/home/welcome.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(0, 51, 0, 0.6);
    font-size: 130%;
    position: absolute;
    bottom: 20px;
    width: 80%;
    min-height: 200px;
    padding-top: 20px;
    padding-left: 10px;
    ;
}

#cover-text>h3 {
    color: #12d812;
    text-transform: initial;
}

#about-us>div,
#accommodation>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#about-us p {
    padding: 0 20px;
}

#location>hr,
#activities>hr,
#accommodation>hr {
    border-top: 1px solid #280872;
    margin: 5px 0;
}

#ducks-in-pond {
    background: url('../Images/home/about-us-image.webp') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    align-self: center;
    margin-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#about-us-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Gallery page */
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}


/*Footer*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

.copyright {
    text-align: right;
}

/*Contact us section*/
#contact {
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    margin-bottom: 20px;
}

#contact p {
    color: #b11b1b;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
}
#input-form label{
    color: rgb(10, 10, 112);
    padding: 3px 6px;
}


input {
    margin: 0.4rem;
    font-weight: 200;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


input [type=text] {
    color: #fafafa;
    width: 50%;
    margin: 8px 0 ;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 12px 12px;
    align-items: center;
}


/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;

    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 180%;
        line-height: 75px;
        margin: 0 0.5rem;
        width: 100%;
        text-align: center;
    }

    /* Main content */
    main {
        /* Push main content down below larger header */
        margin-top: 79px;
    }

    /* Welcome image */
    #cover-text {
        width: 200px;
        right: 30px;

    }

    /* Reasons section */
    #about-us,
    #accommodation {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #standard-cottage p,
    #family-cottage p {
        text-align: center;
    }

    #standard-cottage ul,
    #family-cottage ul {
        text-align: center;
        list-style-type: none;
    }

    /* Gallery */
    #photos {
        column-count: 3;
    }

    /* Contact section */
    #contact-form {
        align-content: center;
    }
    
    #signup-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 150px;
    }

    .text-input:hover {
        border-color: #f16c6b;
    }

    .join-button:hover {
        background-color: #fafafa;
        color: #86bd78;
    }

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    /* Gallery */
    #photos {
        column-count: 4;
    }
}