/*Asterisk wildcard selector to override deafult styles by the browser*/

/*Header*/
header {
    background-color: rgb(37, 132, 209);
}
/*Main content*/
main {
    background-color: teal;
}
/*Footer*/
footer {
    background-color: orange;
}